.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  left: 0;
  display: flex;
}

.filters__item {
  display: inline;
  cursor: default;
}

.filters__btn {
  display: inline-block;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters__btn:not(.selected) {
  cursor: pointer;
}

.filters__btn:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters__btn_selected {
  border-color: rgba(175, 47, 47, 0.2);
}
